@CHARSET "UTF-8";
.Width{width:1100px;margin-left:auto;margin-right:auto;}
.left{float:left;font-size:12px;}
.right{float:right;font-size:12px;}

.topBar{height:31px;background-color:#F7F7F7;line-height:31px;}
.topBar #char1:hover{color:red;}

.logoBar{height:70px;background-color:#e8c2b8;}
.logo{padding-left:20px;padding-top:10px;}

 .c{background-color:gray;width:180px;height:30px;line-height:30px;border:1px solid black;}
 
 #char1{color:blue;}
 
 
 
 	a:link,a:visited{text-decoration: none;color: #fff;}
	.list{width: 210px;border-bottom:solid 1px #316a91;margin:40px auto 0 auto;}
	.list ul li{background-color:#467ca2; border:solid 1px #316a91; border-bottom:0;}
	.list ul li a{padding-left: 10px;color: #fff; font-size:12px; display: block; font-weight:bold; height:36px;line-height: 36px;position: relative;
	}
	.list ul li .inactive{ background:url(images/off.png) no-repeat 184px center;}
	.list ul li .inactives{background:url(images/on.png) no-repeat 184px center;} 
	.list ul li ul{display: none;}
	.list ul li ul li { border-left:0; border-right:0; background-color:#6196bb; border-color:#467ca2;}
	.list ul li ul li ul{display: none;}
	.list ul li ul li a{ padding-left:20px;}
	.list ul li ul li ul li { background-color:#d6e6f1; border-color:#6196bb; }
	.last{ background-color:#d6e6f1; border-color:#6196bb; }
	.list ul li ul li ul li a{ color:#316a91; padding-left:30px;}